*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: azure;
    font-family: 'Oswald', sans-serif !important;
}

header{
    width: 99.7%;
}
nav{
    width: 99.99%;
    border: 1px solid black;
    height: 50px;
    background-color: thistle;
    text-align: center;
    margin: auto;
}
nav ul{
    display: inline-flex;
    list-style: none;
    margin: auto;
}
nav li{
    padding: 10px;
}
.container{
    width: 85%;
    margin: auto;
    padding: 10px;

}
.form{
    width: 40%;
    margin: auto;
    padding: 50px;
    border: 1px solid gray;
    border-radius: 10px ;

}
.form h2{
    text-align: center;
}
.form hr{
    color: gray;
    margin: 10px;

}
.btn{
    min-width: 70px;
    min-height: 30px;
    border: 1px solid black;
    background-color: lightblue;
    border-radius: 10px;
    font-weight: bold;
}

.card {
    width: 300px;
    margin: 20px auto;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.card-header {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    text-align: center;
}
.card-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.card-body {
    padding: 10px;
}
.card-title {
    font-size: 1.2rem;
    margin-top: 5px;
}
.post {
    width: 80%;
    margin: 20px auto;
    border: 1px solid #ccc;
    padding: 10px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#title {
    font-size: 1.5rem;
}
#uploadDate {
    font-style: italic;
    font-size: 0.8rem;
}
#postImage img {
    max-width: 100%;
    height: auto;
}
#post {
    line-height: 1.6;
}
#user {
    font-style: italic;
}
.like-btn {
    margin-top: 10px;
}
.comment {
    margin-top: 20px;
}
hr {
    margin: 20px 0;
    border-color: aqua;
}
summary {
    cursor: pointer;
}
.cmnt{
    margin-top: 20px;
    border: 1px solid gray;
    padding: 10px;
    min-width: 50%;
    max-width: 60%;
    border-radius: 10pc;
}