{%load static%}
<link rel="stylesheet" href="{%static 'style.css'%}">
<script src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>

{% if not request.user.is_authenticated %}
<header>
    <nav>
        <ul>
            <li>
                <a href="/login">Login</a>
                <a href="/signin">Sigin</a>
            </li>
        </ul>
    </nav>
</header>

{% endif %}

{% if request.user.is_authenticated %}
<header>
    <nav>
        <ul>
            <li>
                <a href="/home">Home</a>
            </li>
            <li>
                <a href="/createPost">Create Post</a>
            </li>
            <li>    
                <a href="/logout">Logout</a>
            </li>
        </ul>
    </nav>
</header>

{% endif %}


{%block content%}

{% endblock %}