{%extends 'base.html'%}
{%block content%}
<h2>Reading blog page</h2>
<div class="container">

    <div class="post">
        <div class="header">
            <div id="title">{{post.title}}</div>
            <div id="uploadDate">{{post.upload_time}}</div>
        </div>
        <div id="postImage"><img src="/media/{{post.postImage}}" alt="Post Image"></div>
        <div id="post">
            <p>{{post.post | safe}}</p>
        </div>
        <div id="user">By {{post.user.full_name}}</div>
        <div class="like-btn">
            likes: {{totalLikes}}
            {%if not request.user in myLikes%} 
            <a href="/like?id={{post.slug}}"><button>Like</button></a>
            {%endif%}
            {%if request.user in myLikes%} 
            <a href="/like?id={{post.slug}}"><button>Unlike</button></a>
            {%endif%}
        </div>
        <div class="comment">
            <form action="" method="post">
                {% csrf_token %}
                <textarea name="comment" id="" cols="30" rows="10"></textarea>
                <input type="hidden" name="post" value="{{post.slug}}">
                <button>Submit</button>
            </form>
        </div>
        <hr>
        <div class="comments">
            {%for comment in comments%}
            <div class="cmnt">
                <details>
                    <summary>{{comment.user.full_name}}</summary>
                    <p>{{comment.comment}}</p>
                    <small><i>{{comment.time}}</i></small>
                    {% if request.user == comment.user%}
                    <p><a href="/deletecomment?id={{comment.id}}">Delete comment</a></p>
                    {%endif%}
                </details>
            </div>
            {%endfor%}
            <!-- Add more details elements for additional comments -->
        </div>
    </div>
{%endblock%}
