{%extends 'base.html'%}
{%block content%}
<br>
<div class="container form">
    <form method="post">
        {% csrf_token %}
        <h2>Signin Form </h2>
        <br>
        <label for="">Name: </label>
        <input type="text" name="name"><hr>
        <label for="">Email</label>
        <input type="email" name="email"><hr>
        <label for="">Phone</label>
        <input type="tel" name="phone"><hr>
        <label for="">Password: </label>
        <input type="password" name="password"><hr>
        <input type="reset" name="" id="" class="btn">
        <input type="submit" class="btn">
    </form>
</div>

{%endblock%}